/* Basic styling for the login page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4CAF50;

}

.login-container {
    width: 300px;
    margin: 200px auto;
    background-color: #fff;
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
}
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: white;
    /* Change border color when focused */
}

.error-message {
    color: #ff0000;
    margin-top: 5px;
}

.link-container {
    text-align: center;
    margin-top: 20px;
}

.link-container a {
    color: #4CAF50;
    text-decoration: none;
}

.link-container a:hover {
    text-decoration: underline;
}